
body {
    background-image: url("images/Arizona.jpg");
    s
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    box-sizing: border-box;
    border: 3px solid rgb(252, 252, 252);
    padding: 10px;
    border-radius: 50px 10px;
    margin: 0 auto;
    width: 50%;
    margin-left: 25%;
    background-color: rgb(58, 58, 58,.7);
}

.inputbox {
    width: 80%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    color: #FFFFFF;
}
