@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/Register.css">
    <script type="text/javascript" src="~/Scripts/StudentIndex.js"></script>
    <title>Register</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form onsubmit="enrollStudent()" class="login-form" method="post">
                <h1>Enroll</h1>
                <input id="firstName" type="text" placeholder="First Name" required />
                <input id="lastName" type="text" placeholder="Last Name" required />
                <input id="address" type="text" placeholder="address" required />
                <input id="phoneNumber" type="text" pattern="[5]{1}[0-9]{7}" placeholder="Phone Number" required />
                <small>Format: 51234567</small><br><br>

                <input id="dateOfBirth" type="date" placeholder="Date Of Birth" min="1950-10-31" max="2004-10-31" required />
                <input id="guardianName" type="text" placeholder="Guardian Name" required />
                <input id="emailAddress" type="email" placeholder="Email address" required />
                <input id="nid" type="text" pattern="[N]{1}[0-9]{13}" placeholder="nid" required />
                <small>Format: N1234567891111</small><br><br>

                <br><br>
                <h3>Please enter your results</h3>
                <br>
                <label for="subject1">Subject 1:</label>


                <select class="subjectselect subject1">
                </select>

                <label for="Grade1">Grade:</label>
                <select class="grade1">
                    <option value="10">A</option>
                    <option value="8">B</option>
                    <option value="6">C</option>
                    <option value="4">D</option>
                    <option value="2">E</option>
                    <option value="0">F</option>
                </select>

                <br> <br> <br>
                <label for="subject2">Subject 2:</label>
                <select class="subjectselect subject2">
                </select>

                <label for="Grade2">Grade:</label>
                <select class="grade2">
                    <option value="10">A</option>
                    <option value="8">B</option>
                    <option value="6">C</option>
                    <option value="4">D</option>
                    <option value="2">E</option>
                    <option value="0">F</option>
                </select>

                <br> <br> <br>
                <label for="subject1">Subject 3:</label>
                <select class="subjectselect subject3">
                </select>

                <label for="Grade3">Grade:</label>
                <select class="grade3">
                    <option value="10">A</option>
                    <option value="8">B</option>
                    <option value="6">C</option>
                    <option value="4">D</option>
                    <option value="2">E</option>
                    <option value="0">F</option>
                </select>

                <input class="submitBtn" type="submit" placeholder="Save"></input>
            </form>
        </div>
    </div>
</body>
</html>

